EXPO_PUBLIC_SUPABASE_URL
EXPO_PUBLIC_SUPABASE_KEY
EXPO_PUBLIC_FIREBASE_PROJECT_ID
EXPO_PUBLIC_FIREBASE_API_KEY_ANDROID
EXPO_PUBLIC_FIREBASE_API_KEY_IOS
EXPO_PUBLIC_FIREBASE_APP_ID_ANDROID
EXPO_PUBLIC_FIREBASE_APP_ID_IOS